.neuron {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: rgb(132, 177, 243);
    margin-bottom: 10px;
}

.neuron.input {
    background-color: rgb(255, 255, 81);
}

.neuron.output {
    background-color: rgb(82, 226, 82);
}

.neuron.selected {
    background-color: rgb(82, 226, 82);
}

.block {
    width: 200px;
    display: inline-block;
}

table tr {
    padding: 20px;
    cursor: pointer;
}
table tr:hover {
    background-color: rgb(139, 139, 139);
}